/*
TITLE: labfive.css
AUTHOR: Parmindar Singh (PS)
PURPOSE: CSS Styling For Lab Five
ORIGINALLY CREATED ON: 13 April 2024
LAST MODIFIED ON: 14 April 2024 (PS)
LAST MODIFIED BY: Parmindar Singh (PS)
MODIFICATION HISTORY: 
13 Apr 2024 - Creation Date (PS)
14 Apr 2024 - Transfered everything from personal VsCode (PS)
*/

body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}