<!DOCTYPE html>
<html lang = "en-us">
<head>
  <meta charset = "utf-8">
  <title>Form</title>
</head>


<body>
<h1>Change Maker</h1>
<form action = "/convert"
      method = "post">
    <label>What is the Price of the item?</label>
    <input type = "text"
           value = "0"
           name = "price" />
<br/>
<form action = "/convert"
      method = "post">
    <label>Cash amount tendered</label>
    <input type = "text"
           value = "0"
           name = "inserted" />
    <button type = "submit">
      submit
    </button>
</form>
</body>
</html>