#<%
#from bottle import request
#price = request.forms.get("price")
#price = float(price)

#inserted = request.forms.get("inserted")
#inserted = float(inserted)

#change = (inserted-price)
#back = (change)
#left = int(change*100)



#left = int(change*100)
    #print("Twenties:", left // 2000)
#left = (left % 2000)
    #print("Ten:", left // 1000)
#left =(left % 1000)
    #print("Fives:", left // 500)
#left =(left % 500)
    #print("Ones:", left // 100)
#left =(left % 100)
    #print("Quarters:", left // 25)
#left =(left % 25)
    #print("Dimes:", left // 10)
#left =(left % 10)
    #print("Nickels:", left // 5)
#left =(left % 5)
    #print("Pennies:", left // 1)
#left = (left % 1)
#%>

#<!DOCTYPE html>
#<html lang = "en-us">
#<head>
  #<title>Change</title>
  #<meta charset = "utf-8">
#</head>

#<body>
  #<h1>Change</h1>

  #<p>
      #Your change is: {{ back }} <br/>
      #Change left: {{int(change*100)}} <br/>
      #Twenties: {{left // 2000}}
      #<br/>
      #Tens: {{left // 1000}}
      #<br/>
      #Fives:
      #<br/>
      #Ones:
      #<br/>
      #Quarters:
      #<br/>
      #Dimes:
      #<br/>
      #Nickels:
      #<br/>
      #Pennies:
      #<br/>
  #</p>

</body>
</html>
