<!DOCTYPE html>
<html lang = "en-us">
<head>
  <meta charset = "utf-8">
  <title>Form</title>
</head>


<body>
<h1>Body Mass Index</h1>
<form action = "/convert"
      method = "post">
    <label>Weight (lbs)</label>
    <input type = "text"
           value = "0"
           name = "weight" />
<br/>
<form action = "/convert"
      method = "post">
    <label>Height (ft)</label>
    <input type = "text"
           value = "0"
           name = "fheight" />
<br/>
<form action = "/convert"
      method = "post">
    <label>Height (inches)</label>
    <input type = "text"
           value = "0"
           name = "iheight" />
    <button type = "submit">
      submit
    </button>
</form>
</body>
</html>